doctype html
html(ng-app='soccerApp')
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='core.js')

  body(ng-controller='mainController as main')
    div.container
      div.jumbotron.text-center
        h1 Welcome to Soccer.io!
        h3 There are currently <b>{{matches.length}}</b> matches registered in the system.

      div.body-wrapper.row
      div#soccer-list.col-sm-6.col-sm-offset-3
        h3 Matches
        ul(ng-repeat='match in matches')
            li
              span Lineup: <b>{{match.team}}</b> - Score: ({{match.score}}) - {{match.match_date}}
